<div class="form-container">
  <h1 *ngIf="!edicion">Registrar recuerdo</h1>
  <h1 *ngIf="edicion">Editar recuerdo</h1>

  <form [formGroup]="form" (ngSubmit)="aceptar()">
    <!-- URL -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>URL de la foto</mat-label>
      <input matInput formControlName="url" />
    </mat-form-field>

    <!-- Título -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Título</mat-label>
      <input matInput formControlName="titulo" />
    </mat-form-field>

    <!-- Descripción -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Descripción</mat-label>
      <textarea matInput rows="3" formControlName="descripcion"></textarea>
    </mat-form-field>

    <!-- Fecha creación -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Fecha del recuerdo</mat-label>
      <input matInput type="date" formControlName="fecha_Creacion" />
    </mat-form-field>

    <div class="acciones">
      <button mat-raised-button color="primary" type="submit">
        {{ edicion ? 'Guardar cambios' : 'Registrar recuerdo' }}
      </button>

      <button mat-button type="button" (click)="cancelar()">Cancelar</button>
    </div>
  </form>
</div>
