<div class="container">
  <div style="text-align: center; margin: 3%">
    <h2>{{ edicion ? 'Editar Familia' : 'Registrar Familia' }}</h2>
  </div>
  <div style="text-align: center; ">
    <form [formGroup]="form" (submit)="aceptar()" class="example-form">
      @if (edicion) {
      <mat-form-field>
        <mat-label>Código</mat-label>
        <input matInput formControlName="id" required />

        @if (form.get('id')?.hasError('required')) {
        <mat-error>El campo id es obligatorio.</mat-error>
        }
      </mat-form-field>
      }
      <br />
      <mat-form-field>
        <mat-label>Familia</mat-label>
        <input matInput formControlName="familia" required />

        @if (form.get('familia')?.hasError('required')) {
        <mat-error>El campo Familia es obligatorio.</mat-error>
        }
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label>Apellido</mat-label>
        <input matInput formControlName="apellido" required />

        @if (form.get('apellido')?.hasError('required')) {
        <mat-error>El campo apellido es obligatorio.</mat-error>
        }
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label>Fecha</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="fecha" [max]="today" required />
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>

        @if (form.get('fecha')?.hasError('required')) {
        <mat-error>El campo fecha es obligatorio.</mat-error>
        }
      </mat-form-field>
      <br />
      <div>
        <mat-form-field class="example-full-width">
          <mat-label>FamiliaUsuario:</mat-label>
          <mat-select formControlName="familiausuario" required>
            @for (p of listaFamiliaUsuarios; track p.idFamiliaUsuarios) {
            <mat-option [value]="p.idSoftware">
              {{ p.nameFamiliaUsuario }}
            </mat-option>
            }
          </mat-select>

          @if (form.get('familiausuario')?.hasError('required')) {
          <mat-error>El campo familiausuario es obligatorio.</mat-error>
          }
        </mat-form-field>
      </div>
      <br>
       
      <button matButton="elevated">{{ edicion ? 'Editar' : 'Registrar' }}</button>
    </form>
  </div>
</div>